@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

:root {
    font-family: 'Roboto', sans-serif;
}

.container,
.container-left,
.container-right {
    display: flex;
}

.container-left,
.container-right {
    flex-direction: column;
}

.container-left {
    /* width: 30%;
    height: 100vh; */
}

img[src="assets/background-image.jpg"] {
    height: 100vh;
}

img[src="assets/odin-lined.png"] {
    margin: 5px 0;
}

#odin-title,
#image-credits {
    position: absolute;
    color: white;
}

#odin-title {
    display: flex;
    justify-content: center;
    background-color: rgba(15, 15, 15, 0.5);
    font-family: Norse-Bold;
    font-size: 7rem;
    top: 20%;
    height: 130px;
    width: 633.547px;
}

#odin-title p {
    display: inline;
    margin: 0;
}

#image-credits {
    bottom: 2%;
}

a {
    color: white;
}