@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

:root {
    font-family: 'Roboto', sans-serif;
}

.container,
.container-left,
.container-right,
.text-container {
    display: flex;
}

.container-left,
.container-right,
.text-container {
    flex-direction: column;
}

.container-left {
    /* width: 30%;
    height: 100vh; */
    /* margin-left: 100px; */
    width: 40%;
}

.container-right {
    justify-content: center;
    /* margin-right: 100px; */
    width: 60%;
}

img[src="assets/background-image.jpg"] {
    height: 100vh;
}

img[src="assets/odin-lined.png"] {
    margin: 5px 0;
}

#logo-container,
#image-credits {
    position: absolute;
    color: white;
}

#logo-container {
    display: flex;
    justify-content: center;
    background-color: rgba(15, 15, 15, 0.5);
    font-family: Norse-Bold;
    font-size: 7rem;
    top: 20%;
    height: 130px;
    width: inherit;
}

#logo-container p {
    display: inline;
    margin: 0;
}

.credits-container {
    display: flex;
    justify-content: center;
}

#image-credits {
    bottom: 2%;
    font-size: 0.85rem;
}

.credits-container a {
    color: white;
}

.text-container {
    marsgin: 0 500px 5px 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.text-container > p:nth-child(1) {
    margin-bottom: 0px;
    max-width: 650px;
}

.text-container > p:nth-child(2) {
    margin-top: 0px;
}

.container-right > * {
    padding-left: 50px;
}

button[form="account-form"] {
    background-color: #596D48;
    color: white;
    border: solid 1px gray;
    border-radius: 5px;
    height: 45px;
    width: 230px;
    box-shadow: 1px 3px 5px lightgray;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    margin-bottom: 20px;
}

.account-container p {
    font-size: 1.25rem;
}

.account-container a {
    color: #596D48;
    text-decoration: none;
    font-weight: 800;
}

.form-background {
    box-shadow: 0px 2px 5px lightgray, 0px -1px 1px rgba(255, 255, 255, 0);
    margin-bottom: 30px;
}

form {
    max-width: 650px;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    list-style: none;
    width: 175px;
    /* margin: 0 25px; */
    margin-right: 140px;
}

legend {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 16px;
}

label {
    display: inline-block;
    font-size: .90rem;
    width: 175px;
}

input {
    height: 22.5px;
    width: 240px;
    margin-bottom: 20px;
}

input,
button {
    appearance: none;
}