@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

:root {
    font-family: 'Roboto', sans-serif;
}

.container,
.container-left,
.container-right,
.text-container {
    display: flex;
}

.container-left,
.container-right,
.text-container {
    flex-direction: column;
}

.container-left {
    /* width: 30%;
    height: 100vh; */
    /* margin-left: 100px; */
    width: 40%;
}

.container-right {
    justify-content: center;
    /* margin-right: 100px; */
    width: 60%;
}

img[src="assets/background-image.jpg"] {
    height: 100vh;
    position: sticky;
    top: 0;
    object-fit: cover;
}

img[src="assets/odin-lined.png"] {
    margin: 5px 0;
}

#logo-container,
#image-credits {
    position: fixed;
    color: white;
}

#logo-container {
    display: flex;
    justify-content: center;
    background-color: rgba(15, 15, 15, 0.5);
    font-family: Norse-Bold;
    font-size: 7rem;
    top: 20%;
    height: 130px;
    width: inherit;
}

#logo-container p {
    display: inline;
    margin: 0;
    overflow: hidden;
}

.credits-container {
    display: flex;
    justify-content: center;
}

#image-credits {
    bottom: 2%;
    font-size: 0.85rem;
}

.credits-container a {
    color: white;
}

.text-container {
    marsgin: 0 500px 5px 10px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 50px 50px 0;
}

.text-container > p:nth-child(1) {
    margin-bottom: 0px;
    max-width: 650px;
}

.text-container > p:nth-child(2) {
    margin: 0px;
}

.text-container > p:nth-child(3) {
    margin-bottom: 60px;
}

button[form="account-form"] {
    background-color: #596D48;
    color: white;
    border: solid 1px gray;
    border-radius: 5px;
    height: 45px;
    width: 230px;
    box-shadow: 1px 3px 5px lightgray;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    margin-bottom: 20px;
}

.account-container {
    padding: 0 50px 50px;
}

.account-container p {
    font-size: 1.25rem;
}

.account-container a {
    color: #596D48;
    text-decoration: none;
    font-weight: 800;
}

.form-background {
    box-shadow: 0px 2px 5px lightgray, 0px -1px 1px rgba(255, 255, 255, 0);
    margin-bottom: 30px;
    padding: 0 50px;
}

form {
    max-width: 650px;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    list-style: none;
    width: 175px;
    /* margin: 0 25px; */
    margin-right: 140px;
}

legend {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 16px;
}

label {
    display: inline-block;
    color: rgb(55, 55, 55);
    font-size: .90rem;
    width: 100%;
}

input,
button {
    appearance: none;
}

input {
    height: 22.5px;
    width: 240px;
    margin-bottom: 20px;
    border: solid 1px #E5E7EB;
    border-radius: 4px;
}

input:focus {
    /* border: solid 1px blue; */
    border: solid 1px rgba(255, 255, 255, 0);
    outline: solid 2px #5e659b;
    box-shadow: 2px 2px 5px rgba(15, 15, 15, 0.5);
}

input,
button {
    appearance: none;
}

@media (max-width: 800px) {
    .container {
        flex-flow: column wrap;
        align-items: center;
    }
    .container-left {
        width: auto;
    }
    .container-right {
        width: 100vw;
        max-width: 100%;
    }
    #logo-container {
        width: 100vw;
        max-width: 100%;
    }
    img[src="assets/background-image.jpg"] {
        width: 100vw;
        max-width: 100%;
    }
    #logo-container,
    #image-credits {
        position: absolute;
    }
    .form-background {
        max-width: 100%;
        margin: 0 50px 30px;
        padding: 0;
    }
    form {
        display: flex;
        flex-direction: column;
        margin: 0 20%;
    }
    legend {
        text-align: center;
    }
    li {
        display: block;
        margin-right: 0;
        width: calc(100% - 5px);
    }
    input {
        width: 100%;
    }
    .container-right > * {
        padding-left: 0;
    }
    .container-right p {
        text-align: center;
    }
    .text-container,
    .account-container {
        padding: 0 50px 0;
    }
    .account-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .account-container p {
        display: grid;
    }
}