@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

.container,
.container-left,
.container-right {
    display: flex;
}

.container-left,
.container-right {
    flex-direction: column;
}

.container-left {
    /* width: 30%;
    height: 100vh; */
}

img[src="assets/background-image.jpg"] {
    height: 100vh;
}

#odin-title,
#image-credits {
    position: absolute;
    background-color: gray;
    color: white;
}

#odin-title {
    top: 20%;
}

#image-credits {
    bottom: 2%;
}