@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

:root {
    background-color: #f9fafc;
    font-family: 'Roboto', sans-serif;
}

.container,
.graphics-container,
.logo-container,
.credits-container,
.content-container,
.text-container {
    display: flex;
}

.graphics-container,
.content-container,
.text-container {
    flex-direction: column;
}

.content-container,
.logo-container,
.credits-container {
    justify-content: center;
}

.graphics-container {
    width: 40%;
}

.content-container {
    width: 60%;
}

.logo-container,
#image-credits {
    color: white;
    position: fixed;
}

img[src="assets/background-image.jpg"] {
    object-fit: cover;
    position: sticky;
    height: 100vh;
    top: 0;
}

img[src="assets/odin-lined.png"] {
    margin: 5px 0;
}

.logo-container {
    width: inherit;
    font-family: Norse-Bold;
    font-size: 7rem;
    height: 130px;
    top: 20%;
    background-color: rgba(15, 15, 15, 0.5);
}

.logo-container p {
    overflow: hidden;
    margin: 0;
}

#image-credits {
    bottom: 2%;
    font-size: 0.85rem;
}

.credits-container a {
    color: white;
}

.text-container {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 50px 50px 0;
}

.text-container > p:nth-child(1) {
    margin-bottom: 0px;
    max-width: 650px;
}

.text-container > p:nth-child(2) {
    margin: 0px;
}

.text-container > p:nth-child(3) {
    margin-bottom: 60px;
}

.form-background {
    background-color: white;
    margin-bottom: 30px;
    padding: 0 50px;
    box-shadow: 0px 2px 5px lightgray, 0px -1px 1px rgba(255, 255, 255, 0);
}

input,
button {
    appearance: none;
}

form {
    max-width: 650px;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    list-style: none;
    margin-right: 140px;
    width: 175px;
}

legend {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 16px;
}

label {
    display: inline-block;
    font-size: .90rem;
    width: 100%;
    color: rgb(55, 55, 55);
}

input {
    border-radius: 4px;
    height: 22.5px;
    margin-bottom: 20px;
    width: 240px;
    border: solid 1px #E5E7EB;
}

input:focus {
    outline: solid 2px #5e659b;
    border: solid 1px rgba(255, 255, 255, 0);
    box-shadow: 2px 2px 5px rgba(15, 15, 15, 0.5);
}

.password-error {
    outline: solid 2px red;
}

#password-message,
#button-message {
    color: red;
    visibility: hidden;
    font-size: 0.75rem;
}

.account-container {
    padding: 0 50px 50px;
}

.account-container p:nth-child(3) {
    font-size: 1.25rem;
}

#button-message {
    margin: 10px 0;
}

.account-container a {
    color: #596D48;
    text-decoration: none;
    font-weight: 800;
}

button[form="account-form"] {
    background-color: #596D48;
    border: solid 1px gray;
    color: white;
    cursor: pointer;
    font-size: large;
    border-radius: 5px;
    font-weight: 600;
    height: 45px;
    width: 230px;
    box-shadow: 1px 3px 5px lightgray;
}

@media (max-width: 800px) {
    .container {
        flex-flow: column wrap;
    }

    .graphics-container {
        width: auto;
    }

    .content-container,
    .logo-container {
        max-width: 100%;
        width: 100vw;
    }

    img[src="assets/background-image.jpg"] {
        max-width: 100%;
    }

    .logo-container,
    #image-credits {
        position: absolute;
    }

    .text-container,
    .account-container {
        padding: 0 50px 0 50px;
    }

    .content-container p {
        text-align: center;
    }

    .form-background {
        margin: 0 50px 30px;
        padding: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 0 20%;
    }

    legend {
        text-align: center;
    }

    li {
        margin-right: 0;
        width: calc(100% - 5px);
    }

    input {
        width: 100%;
    }

    .account-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
    }

    .account-container p {
        display: grid;
    }
}